body {
    font-family: Open Sans;
}

.App {
    .filter-wrapper {
        flex: 1;
        padding: 0 15px;

        .input-text {
            width: 100%;
        }
    }
    .results-info {
        padding: 0 15px;

        p {
            border-bottom: 2px solid #424242;
            width: 100%;
        }
    }
    .photos-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0;
        flex: 1;

        .photo-item {
            width: (100% / 3);
            flex-direction: column;

            @include tablet-portrait {
                width: 50%;
            }
            @include phone {
                width: 100%;
            }
            img {
                width: 100%;
            }
        }
    }
    .orderby-wrapper {
        border: 1px solid rgba(0, 0, 0, 0.23);
        padding: 10px 15px;
        border-radius: 4px;
        margin: 30px 15px 30px;
        position: relative;
        flex: 1;

        .group-label {
            position: absolute;
            top: -10px;
            background-color: white;
            padding: 0 10px;
            font-family: Open Sans;
            font-size: 14px;
            font-weight: 500;
        }
        .input {
            &-text {
                width: 100%;
            }
            &-radio {
                &-group {
                    flex-direction: row;
                    justify-content: space-between;
                }
            }
        }
    }
    .pagination {
        &-wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex: 1;
        }
        &-item {
            display: flex;
            cursor: pointer;

            p {
                margin-bottom: 0;
            }
        }
    }
}

footer {
    background-color: #424242;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 15px;
    margin-top: 60px;
    color: white;
    height: 90px;

    .dev-container {
        // background-color: white;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        p {
            margin-bottom: 0;
            margin-right: 10px;
            color: white;
        }
        .dev-box {
            display: flex;
            align-items: center;
            border: 2px solid #424242;
            background-color: white;
            padding: 5px 20px;
            margin-left: 4px;
            font-size: 22px;
            color: #424242;
            transition: all 0.8s ease-in-out;

            &:hover, &:focus, &:active {
                text-decoration: none;
                background-color: white;
                color: #7F48FF;
            }
            .fa-github {
                transition: transform 0.8s ease-in-out;
                font-size: 36px;
                margin-right: 8px;
            }
            span {
                display: inline-block;
            }
            &:hover {
                a {
                    color: #fff;
                }
                .fa-github {
                    transform: rotateY(360deg);
                }
            }
        }
    }
}

.loading-gif {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    margin-top: 15vh;
}
